// src/components/ui/BottomNav.module.scss
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding-top: 5px; // 下部の余白
  padding-bottom: 20px;
  z-index: 1000;

  a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;

    // 現在のページのアイコンの色を濃くする（NavLinkの機能）
    &.active {
      color: var(--primary-color, #333);
    }
  }
}
