// src/components/ui/Header.module.scss
@use "../../styles/variables" as v;

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: v.$primary;

  .logo {
    filter: var(--logo-filter);
    height: 26px;
    width: auto;
    object-fit: contain;
  }
}
